#preview{
    margin-top:20px;
}
#preview h5{
    margin-bottom:10px;
}
#preview *{
    margin-top:0;
}
#propositions table{
    border-radius:4px;
    overflow:hidden;
    font-size:large;
    width: 40vw;
}
#propositions a{
    color:white !important;
    display:block;
}
#propositions table td{
    padding:5px;
}

#propositions table tr:nth-child(even){
    background: rgba(32,124,202,0.4); 
}   
#propositions table tr:nth-child(odd) 
{
    background: rgba(32,124,202,0.8); 
}
#propositions table tr:nth-child(odd):hover
{
    background: rgba(32,124,202,0.4); 
}